* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    height: 38px;
    width: 38px;
}

.media-body-input {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 25px;
}

.community-menu {
    color: #999999;
    font-size: 13px;
    margin-bottom: 15px;
    display: block;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.sub-comments{
    border-radius:5px ;
    margin-top: 10px;
    border: 1px solid #f5f5f5;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn{
    margin: 10px 0;
}
.btn-comment {
    float: right;
    margin-bottom: 10px;
    min-width: 76px;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px;
}

.comments {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f5f5f5;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon:hover {
    color: #428bca;
}
.menu .active {
    color: #428bca;
}

.menu .icon:hover {
    color: #428bca;
}