<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>后台管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nodeModules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nodeModules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/nodeModules/css/community.css">
    <script src="/nodeModules/jquery/dist/jquery.min.js"></script>
    <script src="/nodeModules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/nodeModules/js/community.js"></script>
</head>
<body>
<!--顶部-->
<div th:insert="~{navigation :: nav}"></div>


<!--内容-->
<div class="container-fluid" style="background: white;margin: 0 3%;">
    <div class="row  admin-content">

        <!--左侧标签-->
        <div class="col-lg-2 hidden-xs hidden-sm">
            <div class="list-group section">
                <a href="/admin/users"
                   th:classappend="${section == 'users'} ? 'active list-group-item' : 'list-group-item' ">用户管理</a>
                <a href="/admin/questions"
                   th:classappend="${section == 'questions'} ? 'active list-group-item' : 'list-group-item' ">帖子管理</a>
                <a href="/admin/comments"
                   th:classappend="${section == 'comments'} ? 'active list-group-item' : 'list-group-item' ">评论管理</span>
                </a>
                <a href="/admin/notification"
                   th:classappend="${section == 'notification'} ? 'active list-group-item' : 'list-group-item' ">通知管理</span>
                </a>
            </div>
        </div>
        <!--右侧内容-->
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div class="tab-content">
                <!--用户管理-->
                <div th:if="${section=='users'}">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>Token</th>
                            <th>首次登陆状态</th>
                            <th>最新登陆状态</th>
                            <th>头像</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr th:each="user1 : ${session.user.getId()}">
                                <th th:text="${session.user.getId()}"></th>
                                <td th:text="${session.user.getName()}"></td>
                                <td th:text="${session.user.getToken()}">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip"
                                            data-placement="right" title="Tooltip on right">Tooltip on right
                                    </button>
                                </td>
                                <td th:text="${#dates.format(session.user.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${#dates.format(session.user.getGmtModified(),'yyyy-MM-dd HH:mm')}"></td>
                                <td>
                                    <img th:src="${session.user.getAvatarUrl()}" class="media-object img-rounded">
                                </td>
                                <td>
                                    <!-- 删除模态框按钮 -->
                                    <a class="btn btn-danger btn-sm admin-btn-operation" style="background: red" data-toggle="modal"
                                       data-target="#myModal">
                                        删除
                                    </a>

                                    <!-- 删除模态框 -->
                                    <div class="admin-delete-modal modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">删除用户信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    确定要删除此用户在该网站发布的所有内容吗
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-danger" style="background: red"
                                                       th:href="@{'/admin/users/'+${session.user.getId()}}">删除</a>
                                                    <a class="btn btn-default" style="background: white"
                                                       data-dismiss="modal">我点错了</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--帖子管理-->
                <div th:if="${section == 'questions'}">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <th>ID</th>
                            <th>创建者</th>
                            <th>标题</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>浏览次数</th>
                            <th>标签</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr th:each="question : ${pagination.data}">
                                <th th:text="${question.id}"></th>
                                <td th:text="${question.creator}"></td>
                                <td th:text="${question.title}"></td>
                                <td th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></td>
                                <td th:text="${#dates.format(question.gmtModified,'yyyy-MM-dd HH:mm')}"></td>

                                <td th:text="${question.viewCount}"></td>
                                <td th:text="${question.tag}"></td>
                                <td>
                                    <a class="btn btn-default btn-sm admin-btn-operation"
                                       th:href="@{'/publish/'+${question.id}}" role="button">编辑</a>
                                    <a class="btn btn-default btn-sm admin-btn-operation"
                                       th:href="@{'/question/'+${question.id}}" role="button">链接</a>
                                    <!-- 删除模态框按钮 -->
                                    <a class="btn btn-danger btn-sm admin-btn-operation" style="background: red" data-toggle="modal"
                                       data-target="#myModal">
                                        删除
                                    </a>

                                    <!-- 删除模态框 -->
                                    <div class="admin-delete-modal modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">删除用户信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    确定要删除此用户在该网站发布的所有内容吗
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-danger" style="background: red"
                                                       th:href="@{'/admin/questions/'+${question.id}}">删除</a>
                                                    <a class="btn btn-default" style="background: white"
                                                       data-dismiss="modal">我点错了</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--评论管理-->
                <div th:if="${section == 'comments'}">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <th>ID</th>
                            <th>问题帖子ID</th>
                            <th>一级/二级评论</th>
                            <th>评论人</th>
                            <th>评论时间</th>
                            <th>评论内容</th>
                            <th>该评论的二级评论数</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr th:each="comment : ${paginationComment.data}">
                                <th th:text="${comment.id}"></th>
                                <th th:text="${comment.parentId}"></th>
                                <th th:text="${comment.type}"></th>
                                <th th:text="${comment.commentator}"></th>
                                <th th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></th>
                                <th th:text="${comment.content}" style="width: 50px"></th>
                                <th th:text="${comment.commentCount}"></th>
                                <th>
                                    <a class="btn btn-default btn-sm admin-btn-operation"
                                       th:href="@{'/question/'+${comment.parentId}}" role="button">链接</a>
                                    <!-- 删除模态框按钮 -->
                                    <a class="btn btn-danger btn-sm admin-btn-operation" style="background: red" data-toggle="modal"
                                       data-target="#myModal">
                                        删除
                                    </a>
                                    <!-- 删除模态框 -->
                                    <div class="admin-delete-modal modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">删除用户信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    确定要删除此用户在该网站发布的所有内容吗
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-danger" style="background: red"
                                                       th:href="@{'/admin/comments/'+${comment.id}}">删除</a>
                                                    <a class="btn btn-default" style="background: white"
                                                       data-dismiss="modal">我点错了</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--通知管理-->
                <div th:if="${section=='notification'}">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <th>ID</th>
                            <th>通知人ID</th>
                            <th>通知</th>
                            <th>通知帖子ID</th>
                            <th>通知帖子标题</th>
                            <th>通知是否已经被查看</th>
                            <th>通知时间</th>
                            <th>通知一级/二级评论</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr th:each="notification : ${paginations.data}">
                                <th th:text="${notification.id}"></th>
                                <th th:text="${notification.notifier}"></th>
                                <th th:text="${notification.notifierName}"></th>
                                <th th:text="${notification.outerid}"></th>
                                <th th:text="${notification.outerTitle}"></th>
                                <th>
                                    <span th:if="${notification.status}!=0">是</span>
                                    <span th:if="${notification.status}==0">否</span>
                                </th>
                                <th th:text="${#dates.format(notification.gmtCreate,'yyyy-MM-dd HH:mm')}"></th>
                                <th th:text="${notification.type}"></th>
                                <th>
                                    <a class="btn btn-default btn-sm admin-btn-operation"
                                       th:href="@{'/notification/'+${notification.id}}" role="button">链接</a>
                                    <a class="btn btn-danger btn-sm admin-btn-operation" style="background: red" data-toggle="modal"
                                       data-target="#myModal">
                                        删除
                                    </a>
                                    <!-- 删除模态框 -->
                                    <div class="admin-delete-modal modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">删除用户信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    确定要删除此用户在该网站发布的所有内容吗
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-danger" style="background: red"
                                                       th:href="@{'/admin/notification/'+${notification.id}}">删除</a>
                                                    <a class="btn btn-default" style="background: white"
                                                       data-dismiss="modal">我点错了</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:insert="~{footer :: foot}"></div>
</body>
</html>