<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error-知猿社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nodeModules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/nodeModules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/nodeModules/css/community.css">
    <link rel="stylesheet" href="/nodeModules/css/404.css">
    <script src="/nodeModules/jquery/dist/jquery.min.js"></script>
    <script src="/nodeModules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(function () {
            var h = $(window).height();
            $('body').height(h);
            $('.mianBox').height(h);
            centerWindow(".tipInfo");
        });

        //2.将盒子方法放入这个方，方便法统一调用
        function centerWindow(a) {
            center(a);
            //自适应窗口
            $(window).bind('scroll resize',
                function () {
                    center(a);
                });
        }

        //1.居中方法，传入需要剧中的标签
        function center(a) {
            var wWidth = $(window).width();
            var wHeight = $(window).height();
            var boxWidth = $(a).width();
            var boxHeight = $(a).height();
            var scrollTop = $(window).scrollTop();
            var scrollLeft = $(window).scrollLeft();
            var top = scrollTop + (wHeight - boxHeight) / 2;
            var left = scrollLeft + (wWidth - boxWidth) / 2;
            $(a).css({
                "top": top,
                "left": left
            });
        }
    </script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>


<!--修改前的-->
<!--<div class="container main">-->
<!--    <div class="row text-center">-->
<!--        <h1>出错了</h1>-->
<!--        <p th:text="${message}">服务器太热了，请稍后再次尝试w(ﾟДﾟ)w</p>-->
<!--        <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="jumbotron">-->

<!--</div>-->

<!--新的-->

<div class="mianBox">
    <img src="/images/error-bg.jpg" alt="" class="yun yun0"/>
    <img src="/images/error-yun1.png" alt="" class="yun yun1"/>
    <img src="/images/error-yun2.png" alt="" class="yun yun2"/>
    <img src="/images/error-bird.png" alt="" class="bird"/>
    <img src="/images/error-san.png" alt="" class="san"/>
    <div class="tipInfo">
        <div class="in">
            <div class="textThis">
                <h2 th:text="${message}">服务器太热了，请稍后再次尝试w(ﾟДﾟ)w</h2>
                <p>
                    <span>
                        页面自动
                        <a id="href" href="/">跳转</a>
                    </span>
                    <span>等待<b id="wait">6</b>秒
                    </span></p>
                <script type="text/javascript">
                    (function () {
                    var wait = document.getElementById('wait'), href = document.getElementById('href').href;
                    var interval = setInterval(function () {
                        var time = --wait.innerHTML;
                        if (time <= 0) {

                            clearInterval(interval);
                            location.href = href;
                            // alert("开始跳转提示");
                        }
                        ;
                    }, 1000);
                })();
                </script>
            </div>
        </div>
    </div>
</div>

<!--底部-->
<div th:insert="~{footer :: foot}"></div>

</body>

</html>
